<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darksaber_hit001.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,593},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,401},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,268},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,268},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,844},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,652},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,460},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,268},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,844},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,652},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,460},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit002.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,593},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,268},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,135},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,135},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,135},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,135},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit005.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit006.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit007.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
            <key>darksaber_hit009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,131}}</string>
                <key>sourceSize</key>
                <string>{190,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WolfHit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc8a80c4b368d51185b93dfd94b98c82:f48a2c1c5435f51e970eaaa480eee83d:638f0f43e29c8d704642d15af329907f$</string>
            <key>textureFileName</key>
            <string>WolfHit.png</string>
        </dict>
    </dict>
</plist>
