<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darksaber_death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death00100.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death00101.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,800},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,800},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,674},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,674},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,548},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,548},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,422},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,422},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,800},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,674},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,800},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,674},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,800},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,674},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,548},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,422},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,548},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,422},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,548},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,422},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,828},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,702},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,576},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,450},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,324},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,100},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,100},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,100},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,100},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,100},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,100},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,296},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>darksaber_death0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,926},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WolfDie.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5808f7f354408397a5b0a2d43bada93:07639f4bd0451d2d6f14d295673dc54c:e6878812b9e9ad9ab3bc588a69a2f3e1$</string>
            <key>textureFileName</key>
            <string>WolfDie.png</string>
        </dict>
    </dict>
</plist>
