<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darksaber_walk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,506},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,506},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,506},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,506},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,380},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,380},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,380},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,380},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,380},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,506},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,380},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,380},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,254},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,254},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,254},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,254},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,254},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,254},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,128},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,128},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,128},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>darksaber_walk009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WolfWalk.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d32743c403230f6d10f40ccb18a72e9:6bef474edecf50c17d98ed5f54b1b0e9:c0b418a3e0baca06feef8b8e2b829088$</string>
            <key>textureFileName</key>
            <string>WolfWalk.png</string>
        </dict>
    </dict>
</plist>
