<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darksaber_hit001.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1175},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,794},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,530},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,530},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1673},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1292},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,911},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,530},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1673},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1292},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,911},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit002.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1175},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,530},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,266},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,266},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,266},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,266},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1409},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,2},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit007.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit008.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
            <key>darksaber_hit009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,262}}</string>
                <key>sourceSize</key>
                <string>{379,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WolfHit-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc8a80c4b368d51185b93dfd94b98c82:f48a2c1c5435f51e970eaaa480eee83d:638f0f43e29c8d704642d15af329907f$</string>
            <key>textureFileName</key>
            <string>WolfHit-hd.png</string>
        </dict>
    </dict>
</plist>
